.footerSection {
  background-color: var(--primary-color);
  padding-bottom: 44px;
  padding-left: 84px;
  padding-right: 84px;
}

.footerSection hr {
  color: var(--highlight-color);
  height: 1px;
  margin-top: 0px;
  opacity: 100%;
}

.footerSection p,
small {
  color: white;
  font-weight: 300;
  margin-bottom: 0px;
  opacity: 80%;
}

.footerSection a {
  color: white;
  font-weight: 300;
  letter-spacing: 0.1px;
  opacity: 80%;
  padding-top: 0px;
  padding-right: 0px;
  text-decoration: none;
}

.footerSection a:hover {
  color: var(--highlight-color);
}

@media (max-width: 960px) {
  .footerSection .copyRight,
  small,
  a {
    font-size: 8px;
  }

  .footerSection .copyRight,
  small {
    line-height: 4px;
  }

  .footerSection .copyRight {
    padding-top: 12px;
  }

  .footerSection a {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 8px;
  }

  .footerSection {
    padding-left: 40px;
    padding-right: 40px;
  }
}
