@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #132d4c;
  --secondary-color: #395170;
  --highlight-color: #aed8cd;
  --background-color: #ececec;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* hero styles */

.heroText {
  color: white;
  display: inline-block;
  position: absolute;
  left: 140px;
  top: 324px;
}

.heroText h1 {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2px;
}

.heroText h2 {
  font-size: 28px;
  font-weight: 300;
}
