@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #132d4c;
  --secondary-color: #395170;
  --highlight-color: #aed8cd;
  --background-color: #ececec;
  --paragraph-color: #5d5d5e;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* section titles */

h3 {
  display: inline-block;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1px;
}

h3:before {
  content: "";
  display: block;
  background-color: var(--highlight-color);
  position: absolute;
  width: 16px;
  transform: translateY(8px) translateX(-60px);
}

h4 {
  color: var(--primary-color);
}

section {
  padding-left: 84px;
  padding-right: 84px;
}

/* MyContent component styles for active tabs */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active.activeColor {
  color: var(--primary-color);
  background-color: rgba(174, 216, 205, 0.3);
  border: rgba(174, 216, 205, 0.3);
}

/* WhatImOpenTo component styles for active tabs */

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active.active {
  background-color: rgba(174, 216, 205, 0.5);
  color: var(--primary-color);
  border-left: 4px solid #aed8cd;
}

.carousel-control-prev {
  justify-content: left;
}

@media (max-width: 960px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }

  h3 {
    font-size: 36px;
  }
}
