.header {
  color: var(--primary-color);
}

.heroContainer {
  padding: 0;
}

.heroImage {
  width: 100%;
  z-index: 0;
}

.intro {
  color: white;
  position: relative;
  bottom: 320px;
  left: 180px;
}

.intro h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.intro h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
