.myContent {
  background-color: rgba(236, 236, 236, 0.4);
  padding-top: 120px;
  padding-bottom: 88px;
}

.myContent h3 {
  color: var(--primary-color);
  padding-left: 60px;
}

/* tab styles */

.myContent h3:before {
  height: 44px;
}

.contentTabs {
  color: var(--paragraph-color);
  margin-top: 120px;
}

.contentTabs ul {
  background-color: transparent;
  border-bottom: 4px solid rgba(174, 216, 205, 0.3);
}

.contentTabs ul li button {
  color: var(--secondary-color);
}

.contentTabs ul li button:hover {
  color: var(--secondary-color);
  background-color: rgba(174, 216, 205, 0.3);
  border: none;
  transition: all 200ms ease-in-out;
}

/* MyContent component styles for active tabs are in global.css */

/* book tab styles*/

.bookParagraph {
  font-weight: 400;
  margin-top: 28px;
  letter-spacing: 0.1px;
  line-height: 28px;
}

.bookBtn {
  background-color: var(--highlight-color);
  border: none;
  color: var(--primary-color);
  margin-top: 20px;
  padding: 12px 16px;
}

.bookBtn:hover {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  transition: all 200ms ease-in-out;
}
