.projects {
  background-color: var(--primary-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.projects h3 {
  color: white;
  display: block;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.cards {
  padding-top: 88px;
}

.projectBtn {
  color: var(--primary-color);
  background-color: var(--highlight-color);
  border: none;
}

.projectBtn:hover {
  color: var(--highlight-color);
  background-color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

@media (max-width: 960px) {
  .projects h3 {
    font-size: 36px;
  }
}
