.whatImHereFor {
  background-color: rgba(236, 236, 236, 0.9);
  padding-top: 120px;
  padding-bottom: 88px;
}

.whatImHereFor h3 {
  color: var(--primary-color);
  padding-left: 64px;
}

.whatImHereFor h3:before {
  height: 88px;
}

.whatImHereFor ul {
  color: var(--paragraph-color);
  list-style: none;
  padding-left: 0px;
}

.check {
  color: var(--secondary-color);
  padding-right: 16px;
}

.experienceBtn {
  background-color: var(--highlight-color);
  border: none;
  color: var(--primary-color);
  margin-top: 32px;
  padding: 12px 20px;
}

.experienceBtn:hover {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  transition: all 200ms ease-in-out;
}
