.section4 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section4 h3 {
  color: var(--primary-color);
  margin-bottom: 88px;
  padding-left: 60px;
}

.section4 h3:before {
  height: 44px;
}

.section4 a {
  color: var(--secondary-color);
}

.section4 a:hover {
  color: var(--primary-color);
  background-color: rgba(174, 216, 205, 0.5);
  cursor: pointer;
}

/* find styles for active pills in global.css */

.tabText {
  color: var(--paragraph-color);
  letter-spacing: 0.1px;
  line-height: 28px;
}

.tabText ul {
  list-style: none;
}

.tabText .arrow {
  color: var(--highlight-color);
  padding-right: 16px;
}
